
body{
  background-image: url(img/cork.png);
  height: 100vh
}
header{
  height: 180px;
  background-image: url(img/wall.png);
}
.container{
  padding-top: 50px;
}
/* ------------------------------ GOOGLE FONTS ------------------------------ */
/*-----------titolo-----------*/

.playpen-sans {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 95px;

}

/*-----------testo cards-----------*/
.kalam-light {
  font-family: "Kalam", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

/* ------------------------------ CARD CUSTOM ------------------------------ */
.user-card{
  position: relative;
  padding: 17px;
  max-height: 505px;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(49, 54, 68, 0.308);
  aspect-ratio: 415 / 510;
}

.user-card img:first-child{
  position:absolute;
  top: -8px;
  right: calc((100% - 36px) / 2);
}

#image{
  aspect-ratio: 1;
  width: 100%;
  margin-bottom: 15px;
}